Repository cloudfoundry/csb-brokerpak-azure, pull requests merged in 2024-06, with the labels that each got.

#783 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#787 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#789 feat: Update tofu to latest v1.7.2
  manifest.yml
Labels: unscheduled, new-feature

#790 test: Adding test assertions to validate bindings work after an upgrade
  acceptance-tests/upgrade/update_and_upgrade_cosmos_test.go
  acceptance-tests/upgrade/update_and_upgrade_mongodb_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_failover_group_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_test.go
  acceptance-tests/upgrade/update_and_upgrade_mysql_test.go
  acceptance-tests/upgrade/update_and_upgrade_postgresql_flexible_server_test.go
  acceptance-tests/upgrade/update_and_upgrade_postgresql_test.go
  acceptance-tests/upgrade/update_and_upgrade_redis_test.go
  acceptance-tests/upgrade/update_and_upgrade_storage_test.go
Labels: chore

#791 chore: Test dependencies are updated only once a week
  .github/dependabot.yml
Labels: unscheduled, chore

#794 chore: Remove unused legacy broker MASB metadata
  acceptance-tests/helpers/environment/metadata.go
Labels: chore
