Repository cloudfoundry/csb-brokerpak-azure, pull requests merged in 2024-05, with the labels that each got.

#759 chore: Retire MySQL and PostgreSQL services
  azure-mysql.yml
  azure-postgresql.yml
  integration-tests/mysql_test.go
  integration-tests/postgre_sql_test.go
Labels: chore

#766 chore: Update name of the default example plan for postgresql flexibl…
  .envrc
Labels: chore

#767 chore: Add latest env vars for tests to pick up flexible server plan …
  acceptance-tests/helpers/brokers/create.go
  acceptance-tests/helpers/brokers/env.go
  acceptance-tests/helpers/brokers/envrc.go
  acceptance-tests/mssql_fog_existing_test.go
  acceptance-tests/mssql_server_and_db_test.go
  acceptance-tests/mssql_server_pair_and_fog_db_test.go
  acceptance-tests/passwordrotation_test.go
  acceptance-tests/withoutcredhub_test.go
Labels: unscheduled, bug-fix

#768 fix: Use envrc when running upgrade tests
  acceptance-tests/helpers/brokers/create.go
  acceptance-tests/helpers/brokers/update.go
  acceptance-tests/upgrade/update_and_upgrade_cosmos_test.go
  acceptance-tests/upgrade/update_and_upgrade_mongodb_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_failover_group_existing_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_failover_group_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_failover_group_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_test.go
  acceptance-tests/upgrade/update_and_upgrade_mysql_test.go
  acceptance-tests/upgrade/update_and_upgrade_postgresql_test.go
  acceptance-tests/upgrade/update_and_upgrade_redis_test.go
  acceptance-tests/upgrade/update_and_upgrade_storage_test.go
Labels: unscheduled, bug-fix

#770 test: Remove ancient tests that are no longer run on CI
  acceptance-tests/upgrade/update_and_upgrade_mongodb_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_failover_group_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_failover_group_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_test.go
  acceptance-tests/upgrade/update_and_upgrade_postgresql_test.go
Labels: unscheduled

#771 feat: Add skip_provider_registration option
  azure-postgresql-flexible-server.yml
  terraform-tests/postgresql_flexible_server_test.go
  terraform/azure-postgresql-flexible-server/provision/provider.tf
  terraform/azure-postgresql-flexible-server/provision/variables.tf
Labels: new-feature

#772 chore: replace non maintain uuid package
  go.mod
  providers/terraform-provider-csbmssqldbrunfailover/csbmssqldbrunfailover/resource_run_failover_test.go
  providers/terraform-provider-csbmssqldbrunfailover/testhelpers/failover.go
Labels: chore

#774 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#776 docs: Update the description for `private_dns_zone_id`
  azure-postgresql-flexible-server.yml
  integration-tests/mssql_db_failover_group_test.go
Labels: unscheduled

#775 test: Remove test that was never passing
  acceptance-tests/upgrade/update_and_upgrade_mssql_db_test.go
Labels: unscheduled, chore
