Repository cloudfoundry/csb-brokerpak-azure, pull requests merged in 2024-03, with the labels that each got.

#705 chore: revert bump 3.94.0 for azure provider
  dependency-manifest.yml
  manifest.yml
Labels: unscheduled

#720 chore: revert bump azure provider
  dependency-manifest.yml
  manifest.yml
Labels: unscheduled

#703 chore: use more restrictive dependabot group patterns
  .github/dependabot.yml
Labels: unscheduled

#723 chore: Add labeler to improve the release notes.
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
Labels: unscheduled

#727 chore: remove tofu url_template
  go.mod
  go.sum
  manifest.yml
Labels: chore

#730 chore: Rely on dependabot to label its PRs
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
Labels: unscheduled, chore
