Repository cloudfoundry/csb-brokerpak-azure, pull requests merged in 2024-04, with the labels that each got.

#734 fix: vulnerability GO-2024-2687
  go.mod
  go.sum
Labels: bug-fix

#737 chore: update to csb v2
  Makefile
  go.mod
  go.sum
  integration-tests/cosmosdb_sql_test.go
  integration-tests/eventhubs_test.go
  integration-tests/integration_test_suite_test.go
  integration-tests/mongodb_test.go
  integration-tests/mssql_db_failover_group_test.go
  integration-tests/mssql_db_test.go
  integration-tests/mssql_failover_test.go
  integration-tests/mssql_server_test.go
  integration-tests/mssql_test.go
  integration-tests/mysql_test.go
  integration-tests/postgre_sql_test.go
  integration-tests/redis_test.go
  integration-tests/resource_group_test.go
  integration-tests/storage_account_test.go
  terraform/azure-cosmosdb/provision/versions.tf
  terraform/azure-eventhubs/bind/versions.tf
  terraform/azure-eventhubs/provision/versions.tf
  terraform/azure-mongodb/provision/versions.tf
  terraform/azure-mssql-db-failover/azure-versions.tf
  terraform/azure-mssql-db/bind/mssql-bind-versions.tf
  terraform/azure-mssql-db/provision/mssql-db-versions.tf
  terraform/azure-mssql-failover/provision/versions.tf
  terraform/azure-mssql-server/provision/versions.tf
  terraform/azure-mssql/bind/versions.tf
  terraform/azure-mssql/provision/versions.tf
  terraform/azure-mysql/bind/versions.tf
  terraform/azure-mysql/provision/versions.tf
  terraform/azure-postgres/bind/versions.tf
  terraform/azure-postgres/provision/versions.tf
  terraform/azure-redis/provision/versions.tf
  terraform/azure-resource-group/provision/versions.tf
  terraform/azure-storage/provision/versions.tf
  tools/tools.go
Labels: unscheduled, chore

#739 test: brokerpak helper to cope with v2 CSB
  acceptance-tests/helpers/brokerpaks/brokerpaks.go
Labels: unscheduled

#741 test: update driver versions in apps
  acceptance-tests/apps/postgresqlapp/go.mod
  acceptance-tests/apps/postgresqlapp/go.sum
  acceptance-tests/apps/postgresqlapp/internal/app/app.go
  acceptance-tests/apps/redisapp/go.mod
  acceptance-tests/apps/redisapp/go.sum
  acceptance-tests/apps/redisapp/internal/app/app.go
  acceptance-tests/apps/redisapp/internal/app/get.go
  acceptance-tests/apps/redisapp/internal/app/set.go
  acceptance-tests/apps/redisapp/internal/credentials/credentials.go
Labels: unscheduled
